<div class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
     [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
  <a>Update password</a>
</div>
<div id="collapseExample" class="ml-5" [ngbCollapse]="!isCollapsed">
  <div class="card">
    <div class="card-header card-header-primary">
      <div class="btn btn-sm-outline float-right" (click)="isCollapsed = !isCollapsed">
        <i class="material-icons">close</i>
      </div>
      <h4 class="card-title">Update your password</h4>

      <p class="card-category">Please enter the old and new password</p>
    </div>
    <div class="card-body">
      <form [formGroup]="updatePasswordForm">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label class="bmd-label-floating">Old password</label>
              <input formControlName="oldPassword" type="text" class="form-control"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label class="bmd-label-floating">New password</label>
              <input formControlName="newPassword" type="text" class="form-control"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label class="bmd-label-floating">Confirm password</label>
              <input formControlName="confirmPassword" type="text" class="form-control"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-5 pt-3 pl-5">
            <button [disabled]="updatePasswordForm.invalid" (click)="onSubmit()" class="btn btn-outline-primary">
              <i class="material-icons">published_with_changes</i>Update password
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

