<cs-header>
  <p levels>Registration</p>
  <div content>
  </div>
</cs-header>
<div class="main-panel">
  <div class="content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Create new accountant</h4>
          <p class="card-category">Please enter data to your profile</p>
        </div>
        <div class="card-body">
          <form [formGroup]="newUserForm">
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label class="bmd-label-floating">First name</label>
                  <input formControlName="firstName" type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label class="bmd-label-floating">Last name</label>
                  <input formControlName="lastName" type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label class="bmd-label-floating">E-mail address</label>
                  <input formControlName="email" type="email" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label class="bmd-label-floating">Password</label>
                  <input formControlName="password" type="password" class="form-control">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label class="bmd-label-floating">Confirm password</label>
                  <input formControlName="confirmPassword" type="password" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label class="bmd-label-floating">Country</label>
                  <input formControlName="country" type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label class="bmd-label-floating">City</label>
                  <input formControlName="city" type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label class="bmd-label-floating">Street</label>
                  <input formControlName="street" type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label class="bmd-label-floating">House number</label>
                  <input formControlName="houseNumber" type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label class="bmd-label-floating">Zip code</label>
                  <input formControlName="zipCode" type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-5 pt-3 pl-5">
                <button [disabled]="newUserForm.invalid" (click)="onSubmit()" class="btn btn-outline-primary">
                  <i class="material-icons">add</i>Sign up
                </button>
              </div>
            </div>
            <div class="alert alert-warning" *ngIf="isRegistrationFailed">
              Registration failed!<br/>{{ errorMessage }}
            </div>
          </form>
          <div class="alert alert-success" *ngIf="isSuccessful">
            Your registration is successful!
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
