<div class="card">
  <div class="card-header card-header-primary">
    <h4 class="card-title">Create new car</h4>
    <p class="card-category">Please enter the details of the new car</p>
  </div>
  <div class="card-body">
    <form [formGroup]="carForm">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <cs-typeahead-cars-model [carModelForm]="carForm"
                                     (carModelFormEmitter)="setCarModel($event)"></cs-typeahead-cars-model>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <cs-typeahead-location [locationForm]="carForm"
                                   (locationFormEmitter)="setLocation($event)"></cs-typeahead-location>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="bmd-label-floating">Registration number</label>
            <input formControlName="registrationNumber" type="text" class="form-control">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <select formControlName="carStatus" class="form-control options-list">
              <option selected value="">Car status</option>
              <option value="AVAILABLE">Available</option>
              <option value="UNAVAILABLE">Unavailable</option>
            </select>
          </div>
        </div>
      </div>
      <div formGroupName="carParameter">
        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              <label class="bmd-label-floating">Year</label>
              <input formControlName="yearOfProd" type="number" class="form-control">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label class="bmd-label-floating">Daily rate</label>
              <input formControlName="dailyRate" type="number" class="form-control">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label class="bmd-label-floating">Current mileage</label>
              <input formControlName="currentMileage" type="number" class="form-control">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label class="bmd-label-floating">Number of doors</label>
              <input formControlName="numberOfDoors" type="number" class="form-control">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label class="bmd-label-floating">Number of seats</label>
              <input formControlName="numberOfSeats" type="number" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label class="bmd-label-floating">Fuel tank volume</label>
              <input formControlName="fuelTankVolume" type="number" class="form-control">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="bmd-label-floating">Volume of luggage</label>
              <input formControlName="volumeOfLuggage" type="number" class="form-control">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label class="bmd-label-floating">Engine power</label>
              <input formControlName="enginePower" type="number" class="form-control">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label class="bmd-label-floating">Engine capacity</label>
              <input formControlName="engineCapacity" type="number" class="form-control">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label class="bmd-label-floating">Fuel consumption</label>
              <input formControlName="averageFuelConsumption" type="number"
                     class="form-control">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label class="bmd-label-floating">Number of gears</label>
              <input formControlName="numberOfGears" type="number" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              <select formControlName="wheelDrive" class="form-control options-list">
                <option selected value="">Wheel drive</option>
                <option value="FRONT_WHEEL_DRIVE">Front-wheel drive</option>
                <option value="REAR_WHEEL_DRIVE">Rear-wheel drive</option>
                <option value="4x4">4x4</option>
              </select>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <select formControlName="gearboxType" class="form-control options-list">
                <option selected value="">Gearbox type</option>
                <option value="MANUAL">Manual</option>
                <option value="AUTOMATIC">Automatic</option>
              </select>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <select formControlName="fuelType" class="form-control options-list">
                <option selected value="">Fuel type</option>
                <option value="DIESEL">Diesel</option>
                <option value="HYBRID">Hybrid</option>
                <option value="PETROL">Petrol</option>
              </select>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <select formControlName="bodyTypeName" class="form-control options-list">
                <option selected value="">Body type name</option>
                <option value="COUPE">Coupe</option>
                <option value="HATCHBACK">Hatchback</option>
                <option value="JEEP">Jeep</option>
                <option value="SEDAN">Sedan</option>
                <option value="SUV">SUV</option>
                <option value="VAN">VAN</option>
                <option value="WAGON">Wagon</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-5 pt-3 pl-5">
          <button [disabled]="carForm.invalid" (click)="onSubmit()" class="btn btn-outline-primary">
            <i class="material-icons">add</i>Add car
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
