<cs-header>
  <p levels>Login page</p>
  <div content>
  </div>
</cs-header>
<div class="main-panel">
  <div class="content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Change your password</h4>
          <p class="card-category">Please enter the old and new password</p>
        </div>
        <div class="card-body">
          <div *ngIf="submitted"
               [ngClass]="{'alert alert-success pb-2': !apiResponse.error,'alert alert-danger pb-2': apiResponse.error }"
               class="alert alert-danger" role="alert">
            {{apiResponse.message}}
          </div>
          <form [formGroup]="changePasswordForm">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">New password</label>
                  <input formControlName="newPassword" type="password" class="form-control">
                </div>
                <div>
              <span class="text-danger error-input"
                    *ngIf="(changePasswordFormControl.newPassword.touched || submitted) && changePasswordFormControl.newPassword.errors?.required">
                Password is required
              </span>
                  <span class="text-danger error-input"
                        *ngIf="submitted && errorFieldSubmitted['newPassword']"
                        style="white-space: pre-line;">
                {{errorFieldSubmitted['newPassword'] | apiMessage}}
              </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">Confirm password</label>
                  <input formControlName="confirmPassword" type="password" class="form-control">
                </div>
                <div>
              <span class="text-danger error-input"
                    *ngIf="(changePasswordFormControl.confirmPassword.touched|| submitted) && changePasswordFormControl.confirmPassword.errors?.required">
                Confirm password is required
              </span>
                  <span class="text-danger error-input"
                        *ngIf="submitted && errorFieldSubmitted['confirmPassword']"
                        style="white-space: pre-line;">
                {{errorFieldSubmitted['confirmPassword'] | apiMessage}}
              </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-5 pt-3 pl-5">
                <button [disabled]="changePasswordForm.invalid" (click)="onSubmit()" class="btn btn-outline-primary">
                  <i class="material-icons">published_with_changes</i>Change password
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
