<div class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
     [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
  <a>Update password</a>
</div>
<div id="collapseExample" class="ml-5" [ngbCollapse]="!isCollapsed">
  <div class="card">
    <div class="card-header card-header-primary">
      <div class="btn btn-sm-outline float-right" (click)="isCollapsed = !isCollapsed">
        <i class="material-icons">close</i>
      </div>
      <h4 class="card-title">Update your password</h4>
      <p class="card-category">Please enter the old and new password</p>
    </div>
    <div class="card-body">
      <div *ngIf="submitted"
           [ngClass]="{'alert alert-success pb-2': !apiResponse.error,'alert alert-danger pb-2': apiResponse.error }"
           class="alert alert-danger" role="alert">
        {{apiResponse.message}}
      </div>
      <form [formGroup]="updatePasswordForm">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="bmd-label-floating">Old password</label>
              <input formControlName="oldPassword" type="password" class="form-control"/>
            </div>
            <span class="text-danger error-input"
                  *ngIf="(updatePasswordFormControl.oldPassword.touched || submitted) && updatePasswordFormControl.oldPassword.errors?.required">
                Old password is required
              </span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="bmd-label-floating">New password</label>
              <input formControlName="newPassword" type="password" class="form-control">
            </div>
            <div>
              <span class="text-danger error-input"
                    *ngIf="(updatePasswordFormControl.newPassword.touched || submitted) && updatePasswordFormControl.newPassword.errors?.required">
                Password is required
              </span>
              <span class="text-danger error-input"
                    *ngIf="submitted && errorFieldSubmitted['newPassword']"
                    style="white-space: pre-line;">
                {{errorFieldSubmitted['newPassword'] | apiMessage}}
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="bmd-label-floating">Confirm password</label>
              <input formControlName="confirmPassword" type="password" class="form-control">
            </div>
            <div>
              <span class="text-danger error-input"
                    *ngIf="(updatePasswordFormControl.confirmPassword.touched|| submitted) && updatePasswordFormControl.confirmPassword.errors?.required">
                Confirm password is required
              </span>
              <span class="text-danger error-input"
                    *ngIf="submitted && errorFieldSubmitted['confirmPassword']"
                    style="white-space: pre-line;">
                {{errorFieldSubmitted['confirmPassword'] | apiMessage}}
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-5 pt-3 pl-5">
            <button [disabled]="updatePasswordForm.invalid" (click)="onSubmit()" class="btn btn-outline-primary">
              <i class="material-icons">published_with_changes</i>Update password
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


