<cs-header>
  <p levels>Login page</p>
  <div content>
  </div>
</cs-header>
<div class="main-panel">
  <div class="content">
    <div class="container-fluid">
      <div class="card-group">
        <div class="col-md-6">
          <div class="card card-in-login-page">
            <div class="card-header card-header-primary text-center">
              <h4 class="card-title">Hello!</h4>
              <p class="card-category">Please enter data to your account</p>
            </div>
            <div class="card-body">
              <form [formGroup]="loginForm">
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="bmd-label-floating">E-mail address</label>
                      <input formControlName="email" type="email" class="form-control">
                    </div>
                    <span class="text-danger error-input"
                          *ngIf="(loginFormControls.email.touched || submitted) && loginFormControls.email.errors?.required">
                Email is required
              </span>
                    <span class="text-danger error-input"
                          *ngIf="(loginFormControls.email.touched || submitted) && loginFormControls.email.errors?.email">
                Enter a valid email address
              </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="bmd-label-floating">Password</label>
                      <input formControlName="password" type="password" class="form-control">
                    </div>
                    <span class="text-danger error-input"
                          *ngIf="(loginFormControls.password.touched || submitted) && loginFormControls.password.errors?.required">
               Password is required
              </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-5 pt-2 pl-5">
                    <button [disabled]="loginForm.invalid" (click)="login()" class="btn btn-outline-primary">
                      <i class="material-icons">login</i>Sign in
                    </button>
                  </div>
                </div>
                <div class="form-group">
                  <div
                    class="alert alert-danger"
                    role="alert"
                    *ngIf="isLoginFailed">
                    Login failed: {{ errorMessage }}
                  </div>
                </div>
              </form>
              <div class="alert alert-success" *ngIf="isLoggedIn">
                Logged in as {{ roles }}.
              </div>
              <div class="btn btn-sm col-md-3 text-center" (click)="openPasswordReminderFormModal()">
                <p>I forgot my password</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <us-registration-form></us-registration-form>
        </div>
      </div>
    </div>
  </div>
</div>
